

*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
}
body{
    background: #f1f3f4;
}
.container{
    max-width: 1140px;
    margin:0 auto;
    padding: 0 20px;
}
.top-nav-bar{
    height: 57px;
    top:0;
    position: sticky;
    background: white;
    margin-bottom: 20px;
    border-bottom: 3px solid #1ab2ff;
    z-index: 2;
}
.form-control{
    margin-top: 9px;
    margin-left:30px;
    border:1px solid #1ab2ff !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    box-shadow: 0 !important;
}
.input-group-text{
    background: #1ab2ff !important;
    border:1px solid #1ab2ff !important;
    margin:8.5px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display:inline-flex;
    width:60%;
}
.fa-search{
    color: white;
}
.menu-bar{
    width:40%;
    height:57px;
    float:right;
}
.menu-bar ul{
    display:inline-flex;
    float:right;
}
.menu-bar ul li{
    border-left: 1px solid white;
    list-style-type: none;
    padding:15px 35px;
    text-align: center;
    background-color: #1ab2ff;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: normal;
    color:white;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width:980px){
    .top-nav-bar{
        height:118px;
        border-bottom: 0;
    }
    .search-box{
        width:100%;
    }
    .menu-bar{
        width:100%;
    }
    .menu-bar ul{
        width:100%;
        margin: 10px 0;
    }
    .menu-bar ul li{
        width:100%;
        height:57px;
    }
}

.side-menu{
    width:15%;
    font-size: 14px;
    height: 700px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.carousel-item img{
    height: 700px;
    width:700px;
}
.side-menu ul{
    height: 79%;
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: #1ab2ff;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top:77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 15%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    border:1px solid gray;
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float:right;
}
#menu-btn, #close-btn{
    font-size: 30px;
    margin: 10px;
    color:#1ab2ff;
    display: none;
}
@media only screen and (max-width:980px){

.side-menu{
    width:34%;
    font-size: 12px;
    z-index: 20;
    top:133px;
    position: fixed;
    background-color: #f1f3f4;
    display: none;
}
.side-menu ul li ul{
    top:133px;
}
.side-menu ul li:hover ul{
    margin-left: 33%;
}
#menu-btn{
    display: block;
}
}
.slider{
    widows: 85%;
    margin-left: 15%;
    padding:0 10px;
}
.carousel-indicators{
    z-index: 1 !important;
}
@media only screen and (max-width:980px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
    .carousel-item img{
        height:450px;
        width:450px;
        display: block;
        margin: 0 auto;
    }
}

.featured-categories{
    margin:50px 0;
}
.featured-categories img{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.1);
}
.title-box{
    background-color: #1ab2ff;
    color:white;
    width:180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2{
    font-size: 24px;
}
.title-box::after{
    content:'';
    border-top: 40px solid #1ab2ff;
    border-right: 50px solid transparent;
    display: flex;
    position: absolute;
    margin-top: -4px;
    margin-left: 170px;
}
.product-top img{
    width:100%;
}
.overlay-right{
    display: block;
    opacity:0;
    position: absolute;
    top:10%;
    margin-left:0;
    width:70px;
}
.overlay-right .fa{
    cursor: pointer;
    background: white;
    color:black;
    font-size: 20px;
    width:35px;
    height:35px;
    padding:7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right{
    opacity:1;
    margin-left: 5%;
    transition: 0.5s;
} 


.product-bottom .fa{
    color:#1ab2ff;
    font-size: 10px;
}
.product-bottom h3{
    font-weight: bold;
    font-size: 20px;
}
.product-bottom h5{
    padding-bottom:10px;
    font-size: 15px;
}
.hide{
    display: none;
}
.new-products{
    margin:50px 0;
}
.website-features{
    margin:60px 0;
}
.website-features img{
    width:20%;
}
.feature-text{
    margin-top: 10px;
    float:right;
    padding-left: 20px;
    width: 80%;
}
.feature-box{
    padding-top: 20px;
}
.footer{
    margin-top: 50px;
    background-color: black;
    color: white;
}
.footer h1{
    font-size:15px;
    margin: 25px 0;
}
.footer p{
    font-size:12px;
}
.copyright{ 
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer hr{
    margin-top:10px;
    background: white;
}
.footer-image img{
    width:150px;
}
.footer .row .fa{
    padding-right:20px;
    font-size: 15px;
}
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: green;
    color:white;
    width:50px;
    font-weight: bold;
    margin-top:20px;
}
.col-md-7 h2{
    color:#555;
}
.single-product .fa{
    color:#1ab2ff;
}
.single-product .price{
    color:#1ab2ff;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input{
    border:1px solid #ccc;
    font-weight: bold;
    height: 33px;
    width: 30px;
    text-align: center;
}
.single-product .btn-primary{
    background: #1ab2ff !important;
    color: white;
    font-size: 15px;
    box-shadow: none !important;
    margin-left: 20px;
    border: none;
}
.product-description h6{
    margin-top: 50px;
    color: #1ab2ff;
}
.product-description p{
    margin-top: 30px;
}
.product-description hr{
    margin-bottom: 50px;
}
/* contact us styles start */

#contact{
    background: white;
    padding: 4rem 0 8rem;
    font-size:1rem;
}
#contact h2{
    text-align: center;
    margin-bottom: 4rem;
}
#form-container{
    width:58%;
    background-color: #f8f9fa;
    box-sizing: border-box;
    padding:3rem;
    height: 0%;
}
#form-container h3{
    color:black;
    margin-bottom: 2rem;
}
#form-container label{
    display:block;
    margin-top: 1rem;
    color:black;
}
#form-container input, 
#form-container textarea{
    display:block;
    margin-top: 1rem;
    padding:10px;
    color:black;
    border-radius: 20px;
    border:1px solid #ced4da;
    box-sizing: border-box;
    height:43px;
    width:100%;
    font-size: 1rem;
    color:#495057;
}
#form-container textarea{
    height:170px;
    margin-bottom:2rem;
    resize:none;
}
#address-container{
    width:38%;
    background-color: #f8f9fa;
    box-sizing: border-box;
    padding:1.5rem;
    height:0%;
}
#address-container label{
    margin-top: 2rem;
    display: block;
}
#address-container label:first-child{
    margin-top: 0;
}
#address-container address{
    margin-bottom: 1.5rem;
    font-style: normal;
}
#address-container a{
text-decoration: none;
color:  #1ab2ff;
}
#address-container a:hover{
    text-decoration: underline;
    }
.submit{
    background:  #1ab2ff;
    border:none;
    color:white;
    font-size:16px;
    border-radius: 30px;
    padding:10px 30px;
    line-height: 1.5;
    border:3px solid #1ab2ff ;
    cursor: pointer;
}
.submit:hover{
    color:#1ab2ff;
    background:  white;
}   
.flex{
    display:flex;
    justify-content:space-between;
}
/* contact us styles end */
@media (max-width: 767px) {
    #contact .flex {
        flex-wrap: wrap;
    }

    #form-container {
        width: 100%;
        padding: 2rem;
    }

    #address-container {
        width: 100%;
        margin-top: 2rem;
    }
}
@media (max-width: 500px) {
#contact {
    padding: 4rem 0;
}

#contact h2 {
    margin-bottom: 2rem;
}

#form-container {
    padding: 1.5rem;
}
}